# Books
Material/Albert Laszlo-Barabasi -  Network Science.pdf
Material/Gestão de estoques a partir da lista de materiais.pdf  
Material/Mark Newman - Networks: An Introduction.pdf
Material/Community detection in networks: A user guide.pdf
Material/John P Scott - Social Network Analysis A Handbook.pdf
Material/Relat_rio_Cnpq.pdf

# Dataset
Dataset/base_gasto_de_sala v2.csv
Old_Material/base_gasto_de_sala v2.csv
Old_Material/base_gasto_de_sala_v2.1.csv

#Notebook
.ipynb_checkpoints/*